body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f2;
    color: #333;
    text-align: center;
    padding: 50px;
}

h2 {
    color: #d5006d; /* Ярко-розовый заголовок */
}

#elem {
    padding: 20px;
    border: 2px solid #ff99cc;
    background-color: #fff;
    transition: background-color 0.3s;
}
#elem.xxx {
    background-color: #ffccff; /* Цвет фона при добавлении класса xxx */
}
button {
    padding: 10px 20px;
    background-color: #ff66b2;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #ff3385; /* Цвет кнопки при наведении */
}
